Box2D==2.3.2
certifi==2024.7.4
charset-normalizer==3.3.2
cloudpickle==3.0.0
cocos2d==0.6.5
cycler==0.12.1
gym==0.10.8
gym-notices==0.0.8
idna==3.7
importlib-metadata==8.0.0
kiwisolver==1.4.5
matplotlib==3.1.2
numpy==1.18.0
pillow==10.4.0
protobuf==3.20.0
pyglet==1.5.27
pyparsing==3.1.2
python-dateutil==2.9.0.post0
requests==2.32.3
scipy==1.1.0
six==1.16.0
-e git+https://github.com/michaelbayerle/PETS.git@1d210a1cc23620fc8d3d2803419c4c83e76bcf13#egg=sunblaze_envs&subdirectory=rl-generalization
tensorboardX==2.0
tikzplotlib==0.9.0
torch==1.4.0
torchsummary==1.5.1
tqdm==4.38.0
urllib3==2.2.2
zipp==3.19.2
